[Unit]
Description=Coinflip Slack Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
WorkingDirectory=YOUR_REPO_PATH
ExecStart=/usr/bin/node index.js

[Install]
WantedBy=multi-user.target
